* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

#dropdown {
    padding: 10px;
    width: 200px;
    border: 0;
    font-size: 20px;
    opacity: 0.8;
}

#color {
    color: #fff;
    font-size: 100px;
    font-family:  Arial, Helvetica, sans-serif;
    opacity: 0.8;
}